.account {
  &_container {
    background-image: url('/src/assets/img/bgi-sm.png');

    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 500px) {
      height: 100%;
    }
  }
  &__editBtn {
  }
  &__modal {
    &-body {
      @media (max-width: 500px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-title {
      font-size: 24px;

      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
    &-graphic-title {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-bottom: -10px;
      font-size: 18px;
      font-family: 'Unbounded';

      @media (max-width: 500px) {
        margin-top: 10px;
      }
    }
    &-description {
      padding: 0;
      font-size: 18px;

      @media (max-width: 500px) {
        padding-left: 20px;
      }

      &--fz16 {
        font-size: 16px;
      }
    }
  }

  &__btn {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    font-family: 'Unbounded';
    background-color: #ffffff;
    cursor: pointer;
    transition:
      border 0.8s,
      background-color 0.8s;

    padding: 0px 15px;
    height: 34px;
    color: #000;
    border: 2px solid #000000;

    @media (max-width: 700px) {
      font-size: 12px;
      border-radius: 10px;
      padding: 2px 10px;
      margin-right: 0;
    }
  }

  &__tabs_wrapper {
    margin-top: 10px;
    width: 100%;
  }
  &__select-kp {
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Unbounded';
    background-color: #fff;

    @media (max-width: 500px) {
      margin-bottom: 20px;
    }
  }
  &__tab-content {
    padding: 20px 20px 50px 20px;
    background-color: #f4f4f4;
    border-radius: 20px;

    @media (max-width: 500px) {
      // padding: 20px 0 50px;
    }
  }

  &__graphic {
    margin: 10px 30px 0px 20px;
    width: 90%;
    height: 350px;

    @media (max-width: 500px) {
      margin: 0px 0px 0px -10px;
      width: 100%;
      height: 300px;
    }

    &_slider {
      margin: 0px 0 20px 15px;
      color: black !important;
      width: 400px;
    }
  }

  &_wrapper {
    width: 900px;
    background: rgba(252, 252, 252, 0.097);
    box-shadow: 4px 4px 74px 0px rgba(34, 60, 80, 0.29);
    border-radius: 20px;
    padding: 20px 20px;
    backdrop-filter: blur(10px);

    @media (max-width: 500px) {
      padding: 50px 20px 60px;
      width: 100%;
      border-radius: 0;

      margin: 50px 0 0px;
    }
  }

  &_title {
    font-size: 30px;
    font-family: 'Unbounded';
    padding: 0 0 0 20px;
    @media (max-width: 400px) {
      font-size: 25px;
      padding: 0;
    }

    &-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }
  }
  &_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 20px;

    @media (max-width: 500px) {
      flex-wrap: wrap;
      margin-bottom: 10px;

      width: 100%;
    }
    @media (max-width: 400px) {
      padding: 0;
      width: 100%;
    }

    &-actions {
      gap: 10px;
      display: flex;
      justify-content: end;
    }

    &-img {
      width: 250px;
      height: 340px;
      @media (max-width: 500px) {
        width: 80%;
        height: 100%;
      }
    }
    &-data {
      display: flex;
      flex-direction: column;
      padding: 0 30px 0;
      width: 70%;
      height: 270px;
      @media (max-width: 500px) {
        width: 100%;
        padding: 20px 5px;
        height: auto;
      }
    }
    &-label {
      font-size: 15px;
      font-weight: 300;
      font-family: 'Rubik';

      &-text {
        font-size: 35px;
        font-weight: 500;
        font-family: 'Unbounded';
        width: 100%;
        margin: 5px 0 20px;
      }
    }
  }
  &_input {
    margin: 15px 0;
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
  &__history {
    &-title {
      padding: 0 0 0 20px;

      margin-bottom: 20px;
    }
    &-empty {
      padding: 20px;
      margin: 0 15px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-radius: 15px;
      border: 2px solid black;
    }
  }
}
