.footer {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 3px 10px 60px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;

  &__container {
    margin: 0 auto;
    width: 1100px;
    padding: 25px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1300px) {
      width: 80%;
    }
    @media (max-width: 700px) {
      flex-wrap: wrap;
    }
    @media (max-width: 400px) {
      padding: 25px 20px;
      margin: 0;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 650;
    font-family: 'Unbounded';
    margin-bottom: 10px;
  }

  &__social {
    fill: none;
    width: 300px;
    stroke: rgb(35, 35, 35);
    transition: stroke 0.3s;

    &-items {
      display: flex;
      justify-content: start;
      gap: 1.5vw;

      @media (max-width: 400px) {
        justify-content: start;
      }
    }

    & > path {
      fill: rgb(35, 35, 35);
    }

    &:hover {
      stroke: #808080;
    }
  }
  &__logo {
    width: 100px;
    height: 100px;
  }

  &__mail-and-tel {
    display: flex;
    flex-direction: column;
    font-size: 15px;

    font-family: 'Montserrat';
    @media (max-width: 700px) {
      font-size: 12px;
    }
  }
  &__connection {
    text-decoration: none;
    font-family: 'Rubik';
    color: black;
    margin-bottom: 5px;
    transition: color 0.3s;
    font-weight: 400;

    &:hover {
      color: #808080;
    }
    @media (max-width: 400px) {
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
