.functional {
  width: 100%;
  display: flex;
  flex-direction: row;

  &__nav-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 400px; /* или ваша высота */
    width: 100px; /* ширина блока по желанию */

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__circle {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
  }

  &__line {
    width: 3px;
    flex-grow: 1;
    background-color: black;
    min-height: 50px;
  }

  &__vertical-text {
    writing-mode: vertical-rl;
    font-family: 'Unbounded';
    transform: rotate(0deg); /* чтобы текст читался сверху вниз */
    font-weight: 500;
    font-size: 15px;
    color: #22333b;
    padding: 45px 0;
    text-align: center;
  }

  &__wrapper-black_block {
    display: none;

    @media (max-width: 500px) {
      display: block;
      width: 88%;
      align-items: start;
      margin-bottom: 10px;
    }
  }
  &__black_block {
    width: 25px;
    height: 25px;
    background-color: #000000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: -100px;

    @media (max-width: 1000px) {
      margin-left: 0px;
    }
    @media (max-width: 400px) {
      margin-top: 50px;
    }
  }

  &__tabs_container {
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  &__tabs_wrapper {
    @media (max-width: 500px) {
      margin-left: 20px;
    }
  }

  &__title {
    font-size: 50px;
    font-family: 'Unbounded';
    margin-bottom: 10px;

    @media (max-width: 500px) {
      font-size: 40px;
      width: 90%;
      line-height: normal;
      margin-bottom: 20px;
    }
    @media (max-width: 400px) {
      font-size: 35px;
    }
  }
  &__text {
    margin-bottom: 70px;
    max-width: 600px;
    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 500px) {
      text-align: start;
      font-size: 18px;

      width: 90%;
    }
  }
}
