.input-file {
  &__container {
    margin-bottom: 75px;
    height: 790px;

    @media (max-width: 1300px) {
      height: 500px;
    }
    @media (max-width: 500px) {
      padding: 20px 20px;
    }
  }

  &__block {
    background: rgba(183, 182, 182, 0.2); /* Цвет фона с прозрачностью */
    backdrop-filter: blur(5px);
    margin: 0 auto;
    height: 525px;
    border-radius: 20px;
    padding: 20px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Rubik';
    font-size: 20px;

    transition: width 0.2s ease-in-out;

    &-big {
      width: 920px;

      @media (max-width: 1300px) {
        width: 750px;
        height: 400px;
      }
      @media (max-width: 500px) {
        width: 100%;
        padding-top: 30px;
        flex-direction: column;
        backdrop-filter: blur(10px);

        height: auto;
      }
      @media (max-width: 400px) {
        height: auto;
      }
    }
    &-sm {
      width: 440px;

      @media (max-width: 1300px) {
        height: 400px;
        width: 340px;
      }
    }
  }
  &__input {
    display: flex;
    flex-direction: column;

    position: relative;
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 480px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition:
      background 0.2s ease-in-out,
      border 0.2s ease-in-out;

    @media (max-width: 1300px) {
      height: 360px;
      width: 300px;
    }

    &:hover {
      border-color: #111;
    }
    &:hover .drop-title {
      color: #222;
    }

    &-title {
      color: #2b2b2b;
      font-size: 20px;
      font-weight: bold;
      font-family: 'Unbounded';
      text-align: center;
      transition: color 0.2s ease-in-out;
    }
  }
  &__info {
    margin-left: 50px;
    animation: show 2.5s;
    width: 450px;

    @media (max-width: 1300px) {
      width: 350px;
      margin-left: 30px;
    }
    @media (max-width: 500px) {
      width: 100%;
      margin: 0;
    }
    &-title {
      font-size: 25px;
      text-align: center;
      font-family: 'Unbounded';
      font-weight: 500;
      margin-bottom: 40px;

      @media (max-width: 1300px) {
        font-size: 22px;
      }
      @media (max-width: 500px) {
        margin-bottom: 30px;
      }
    }
    &-text {
      width: 120px;
      font-weight: 500;
      margin-right: 10px;
      font-family: 'Rubik';

      @media (max-width: 1300px) {
        width: 110px;
      }
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 400px) {
      flex-direction: column;
      gap: 10px;
    }
  }
  &__btn {
    border-color: black;
    font-size: 15px;
    padding: 2px 20px;
    font-family: 'Unbounded';

    &-cls {
      font-family: 'Unbounded';
      font-size: 12px;
      padding: 0 20px;
      color: rgb(13, 13, 13);
      font-weight: 500;
      border-color: rgb(131, 130, 130);
    }
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-file__ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 50px;

  @media (max-width: 1300px) {
    margin-bottom: 30px;
  }
}

.input-file__li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;

  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f0efef1f;
  padding: 10px 20px;

  @media (max-width: 1300px) {
    width: 360px;
  }
  @media (max-width: 500px) {
    width: 100%;
  }

  &:nth-child(2n) {
    border-bottom: 2px solid #050505;
    border-top: 2px solid #050505;
    border-radius: 2px;
  }
}

input[type='file']::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #ffffff;
  padding: 5px 20px;
  border-radius: 5px;
  color: #050505;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type='file']::file-selector-button:hover {
  background: #c9c8c8;
}
input[type='file'] {
  width: 350px;
  font-size: 15px;
  max-width: 100%;
  color: #6b6b6b;
  padding: 4px;
  background: #e8e7e7;
  border-radius: 10px;
  border: 1px solid #959595;
}
@media (max-width: 500px) {
  .input-file__input.hidden {
    display: none !important;
  }
}
